<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>24954865850-7ufcqocsfi20apf5opkk7t80e16r9ep9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24954865850-7ufcqocsfi20apf5opkk7t80e16r9ep9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>24954865850-4r0ars4opmaffqutq2sb6tgar3nrlqt8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB_qHSsiqpwbmPvyuTEMoMlkKnoaKSkWZA</string>
	<key>GCM_SENDER_ID</key>
	<string>24954865850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.etherium.AllCures</string>
	<key>PROJECT_ID</key>
	<string>all-cures007</string>
	<key>STORAGE_BUCKET</key>
	<string>all-cures007.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:24954865850:ios:952cb1903ba8311aac9a83</string>
	

</dict>
</plist>
